body {
	font-family: Baskerville,Palatino,"Book Antiqua",serif;
	color: #666;
	font-size: 9pt;
}

#content {
	width: 720px ;
	margin-left: auto ;
	margin-right: auto ;
}

a {
	font-style: italic;
	text-decoration: none;
	color: #333;
}

a:hover {
	text-decoration: underline;
	color: #000;
}
h1 {
	color: #333;
}
.example {
	background-color: #333;
	font-family: Consolas, Lucida, sans-serif, monospace;
	color: #eee;
	font-size: 10pt;
	padding: 5px;
	margin: 5px 0;
}

.info {
	font-weight: bold;
}

.example a {
	font-style: normal;
	color: #eee;
}

.example a:hover {
	color: #f7f54b;
}

#text {
	vertical-align: top;
	font-size: 10pt;
}

#footer {
	width:100%;
	padding-top: 20px;
	text-align: center;

}
	img {
	border: 0;
}
